.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 40%
    right: 50%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 51%
    right: 30%


@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)
.tarjeta-adornos
  position: relative
  &:before
    position: absolute
    content: url(../assets/curso/temas/intro/i1.svg)
    width: 59px
    height: 93px
    top: 0
    right: 0
    transform: translate(-30%, -30%)
  &:after
    position: absolute
    content: url(../assets/curso/temas/intro/i2.svg)
    width: 59px
    height: 93px
    bottom: 0
    left: 0
    transform: translate(80%, 50%)
.bg-white-p
  background-color: rgba( white , .7 )
.tarjeta-slyde
  background-repeat: no-repeat
  background-size: cover
  background-position: center
  display: flex
  align-items: flex-end
.dialogocolores
  .dialogoChat__chat__item:nth-child(even)
    .dialogoChat__chat__item__message__text__eng
      span  
        color: #3c3fa7
    .dialogoChat__chat__item__message__bubble
      background-color: #e1e8ff
      &:before
        background-color: #e1e8ff
  .dialogoChat__chat__item:nth-child(odd)
    .dialogoChat__chat__item__message__text__eng
      span  
        color: #fc5f65
    .dialogoChat__chat__item__message__bubble
      background-color: #fff0f1
      &:before
        background-color: #fff0f1
.noname
  .dialogoChat__chat__item__person
    span
      display: none !important